.AppContainer {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.AppContainer h1 {
  text-align: center;
  color: #117e94;
}

.AppContainer h5 {
  color: #117e94;
}