.cositoDeArriba {
  
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.pairsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.cositoDeArriba .clearPairSelection {
  font-size: .8rem;
  padding: 4px 10px;
  margin: 5px;
  background-color: rgb(192, 47, 47);
}

.buttonContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}

.buttonContainer .pairButton {
  font-size: .7rem;
  padding: 2px 4px;
  margin: 4px;
  background-color: #117e94;
}

.buttonContainer .selectedPairButton {
  padding: 6px 14px;
  background-color: rgb(28, 160, 94);
}

@media(min-width: 768px) {
  .buttonContainer {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }

  .pairsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}